.list {
    margin-top: 2vw;
}

.product-item {
    width: 30%;
    margin: 0.5rem;
    float: left;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    padding: 0.1rem;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.item-img-wrapper {
    padding: 0.1rem;
    text-align: center;
}
.item-img {
    text-align: center;
    width: auto;
    height: 18vw;
}

.item-name {
    color: white;
    text-align: left;
    font-size: 1.5vw;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0.1rem;
    text-align: center;
}

.item-price {
    color: tomato;
    text-align: left;
    font-size: 1.5vw;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0.1rem;
    text-align: center;
}

/* 
@media screen and (max-width: 992px) {
    .product-item {
      width: 25%;
    }
}
  
@media screen and (max-width: 600px) {
    .product-item {
      width: 50%;
    }
} */